:root {
  --primary-color: #0f171e;
  --secondary-color: #1a232f;
  --font-primary: #ffffff;
  --font-secondary: #79b8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: var(--primary-color);
}
